<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerProducts') %>
    <main>
        <h2 class="masBuscadas">Marcas más Buscadas</h2>
        <div class="contendor_marcas">
            <div class="masBuscadas">
                <div class="contenedor_imagen">
                    <img src="images/Gibson.jpg" alt="Gibson" class="imagen_marca">
                    <div class="overlay">
                        <div class="texto">Fender</div>
                    </div>
                </div>
            </div>
            <div class="masBuscadas">
                <div class="contenedor_imagen">
                    <img src="images/Taylor.jpg" alt="Taylor" class="imagen_marca">
                    <div class="overlay">
                        <div class="texto">Fender</div>
                    </div>
                </div>
            </div>
            <div class="masBuscadas">
                <div class="contenedor_imagen">
                    <img src="images/Fender.jpg" alt="Fender" class="imagen_marca">
                    <div class="overlay">
                        <div class="texto">Gibson</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor_productos">
            <h2 class="productos">Nuestros Productos</h2>
            <div class="lista_productos">
                <!--Producto 1-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 2-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 3-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 4-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 5-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 6-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>
    
</body>

</html>