<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createProduct.css">
    <title>Document</title>
</head>
    <body>
        <%- include('../partials/headerProducts.ejs') %>
            <main>
                <h2>Create Your Product</h2>
                <div class="contenedor_main">
                    <form action="/products/create" method="post" enctype="multipart/form-data">
                        <div class="principal">
                            <div class="form_group">
                                <label>Nombre Producto</label>
                                <input class="form_input" type="text" name="name">
                                <label>precio</label>
                                <input class="form_input" type="text" name="price">
                                <label> discount</label>
                                <input class="form_input" type="text" name="discount">
                            </div>
                            <div class="form_group">
                                <label>Choose one Category</label>
                                <select name="categoryId">
                                    <option value="1">Electric Guitar</option>
                                    <option value="2">Acoustic Guitar</option>
                                    <option value="3">Bass Guitar</option>
                                    <option value="4">Accessory</option>
                                </select>
                            </div>
                        </div>
                        <div class="specifications">
                            <div class="form_group">
                                <label>Color</label>
                                <input class="form_input" type="text" name="color">
                            </div>
                            <div class="form_group">
                                <label>Brand</label>
                                <input class="form_input" type="text" name="brand">
                            </div>
                            <div class="form_group">
                                <label>Material</label>
                                <input class="form_input" type="text" name="material">
                            </div>
                            <div class="form_group">
                                <label>String Number</label>
                                <input class="form_input" type="number" name="string">
                            </div>
                        </div>
                        <div class="description">
                            <label>Description</label>
                            <input class="description_input" type="text" name="description">
                        </div>
                        <div class="product_image">
                            <label>Product Image</label>
                            <input class="input_image"  type="file" name="product_image">
                        </div>
                        <button type="submit">Create Product</button>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>
</html>
