<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerProducts') %>
    <main>
        <h2>Carrito</h2>
        <div class="contenedor__main">
            <div class="carrito">
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen-producto">
                    </div>
                    <div class="detalle">
                        <div class="nombre_cantidad">
                            <p>Nombre Producto</p>
                            <input class="cantidad" type="number">
                        </div>
                        <p class="precio_p">$100.000</p>
                        <input class="eliminar_producto" type="reset" value="Eliminar">
                    </div>
                </div>
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen-producto">
                    </div>
                    <div class="detalle">
                        <div class="nombre_cantidad">
                            <p>Nombre Producto</p>
                            <input class="cantidad" type="number">
                        </div>
                        <p class="precio_p">$100.000</p>
                        <input class="eliminar_producto" type="reset" value="Eliminar">
                    </div>
                </div>
            </div>
            <div class="compra">
                <div class="precio">
                    <div class="cantidades">
                        <p>Cantidad de Productos</p>
                        <p class="cantidad_producto">2</p>
                    </div>
                    <div class="precio_cantidad">
                        <p>Precio</p>
                        <p class="precio_detalle">$200.000</p>
                    </div>
                    <div class="envio">
                        <p>Envio</p>
                        <p class="precio_detalle">$2000</p>
                    </div>
                </div>
                <p class="cupon">¿Tienes algun cupón de descuento?</p>
                <div class="precio_total">
                    <p>Total</p>
                    <p class="precio_detalle">$202.000</p>
                </div>
                <input class="input_comprar" type="submit" value="Comprar">
            </div>
        </div>
        <a href="/">
            <p class="p_compra">Seguir Comprando</p>
        </a>

        <%- include('./partials/recomendacion') %>
        
    </main>
    <%- include('./partials/footer') %>
</body>

</html>