<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="contenedor_header">
            <div class="principal">
                <div class="logo">
                    <img src="images/Sprint-Logo.jpg" alt="logo-página" class="logo_img">
                    <div class="nombrePagina">
                        <a href="/">
                            <h4>Eltronic Guitars</h4>
                        </a>
                    </div>
                </div>
                <div class="search">
                    <input type="search">
                </div>
                <div class="cuenta">
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                    <a href="/productCart">Carrito</a>
                </div>
            </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="/">Guitarra Acústica</a></li>
                    <li><a href="/">Guitarra Eléctrica</a></li>
                    <li><a href="/">Bajos</a></li>
                    <li><a href="/">Accesorios</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2 class="masBuscadas">Marcas más Buscadas</h2>
        <div class="contendor_marcas">
            <div class="masBuscadas">
                <div class="contenedor_imagen">
                    <img src="images/Gibson.jpg" alt="Gibson" class="imagen_marca">
                    <div class="overlay">
                        <div class="texto">Fender</div>
                    </div>
                </div>
            </div>
            <div class="masBuscadas">
                <div class="contenedor_imagen">
                    <img src="images/Taylor.jpg" alt="Taylor" class="imagen_marca">
                    <div class="overlay">
                        <div class="texto">Fender</div>
                    </div>
                </div>
            </div>
            <div class="masBuscadas">
                <div class="contenedor_imagen">
                    <img src="images/Fender.jpg" alt="Fender" class="imagen_marca">
                    <div class="overlay">
                        <div class="texto">Gibson</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor_productos">
            <h2 class="productos">Nuestros Productos</h2>
            <div class="lista_productos">
                <!--Producto 1-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 2-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 3-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 4-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 5-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
                <!--Producto 6-->
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen_producto" class="imagen_producto">
                    </div>
                    <div class="descripcion">
                        <p>Nombre Poducto</p>
                        <p>Marca Producto</p>
                        <p class="precio">$200.000</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor_footer">
            <div class="informacion">
                <h4>Información</h4>
                <p><a href="">Quienes Somos</p></a>
                <p><a href="">Promociones</p></a>
                <p><a href="">Como Comprar</p></a>
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="">correo@correo.com</a>
                <a href="">+54 123123123</a>
                <p><a href="">Av. 9 de Julio Pasaje Chañar 745</a></p>
            </div>
            <div class="redes">
                <h4>Nuestras Redes</h4>
                <div class="iconos">
                    <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>