<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Carrito</title>
</head>

<body>
    <header>
        <div class="contenedor_header">
            <div class="principal">
                <div class="logo">
                    <img src="images/Sprint-Logo.jpg" alt="logo-página" class="logo_img">
                    <div class="nombrePagina">
                        <a href="/"><h4>Eltronic Guitars</h4></a>
                    </div>
                </div>
                <div class="search">
                    <input type="search">
                </div>
                <div class="cuenta">
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                    <a href="/productCart">Carrito</a>
                </div>
            </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="/">Guitarra Acústica</a></li>
                    <li><a href="/">Guitarra Eléctrica</a></li>
                    <li><a href="/">Bajos</a></li>
                    <li><a href="/">Accesorios</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2>Carrito</h2>
        <div class="contenedor__main">
            <div class="carrito">
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen-producto">
                    </div>
                    <div class="detalle">
                        <div class="nombre_cantidad">
                            <p>Nombre Producto</p>
                            <input class="cantidad" type="number">
                        </div>
                        <p class="precio_p">$100.000</p>
                        <input class="eliminar_producto" type="reset" value="Eliminar">
                    </div>
                </div>
                <div class="producto">
                    <div class="imagen_producto">
                        <img src="images/GuitarraFender.jpg" alt="imagen-producto">
                    </div>
                    <div class="detalle">
                        <div class="nombre_cantidad">
                            <p>Nombre Producto</p>
                            <input class="cantidad" type="number">
                        </div>
                        <p class="precio_p">$100.000</p>
                        <input class="eliminar_producto" type="reset" value="Eliminar">
                    </div>
                </div>
            </div>
            <div class="compra">
                <div class="precio">
                    <div class="cantidades">
                        <p>Cantidad de Productos</p>
                        <p class="cantidad_producto">2</p>
                    </div>
                    <div class="precio_cantidad">
                        <p>Precio</p>
                        <p class="precio_detalle">$200.000</p>
                    </div>
                    <div class="envio">
                        <p>Envio</p>
                        <p class="precio_detalle">$2000</p>
                    </div>
                </div>
                <p class="cupon">¿Tienes algun cupón de descuento?</p>
                <div class="precio_total">
                    <p>Total</p>
                    <p class="precio_detalle">$202.000</p>
                </div>
                <input class="input_comprar" type="submit" value="Comprar">
            </div>
        </div>
        <a href="/">
            <p class="p_compra">Seguir Comprando</p>
        </a>

        <div class="recomendacion">
            <h2 class="recomendacion">Productos que te pueden interesar</h2>
            <div class="lista_produtos">
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor_footer">
            <div class="informacion">
                <h4>Información</h4>
                <p><a href="">Quienes Somos</p></a>
                <p><a href="">Promociones</p></a>
                <p><a href="">Como Comprar</p></a>
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="">correo@correo.com</a>
                <a href="">+54 123123123</a>
                <p><a href="">Av. 9 de Julio Pasaje Chañar 745</a></p>
            </div>
            <div class="redes">
                <h4>Nuestras Redes</h4>
                <div class="iconos">
                    <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>