<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Detalle Producto</title>
</head>

<body>
    <header>
        <div class="contenedor_header">
            <div class="principal">
                <div class="logo">
                    <img src="images/Sprint-Logo.jpg" alt="logo-página" class="logo_img">
                    <div class="nombrePagina">
                        <a href="/"><h4>Eltronic Guitars</h4></a>
                    </div>
                </div>
                <div class="search">
                    <input type="search">
                </div>
                <div class="cuenta">
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                    <a href="/productCart">Carrito</a>
                </div>
            </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="/">Guitarra Acústica</a></li>
                    <li><a href="/">Guitarra Eléctrica</a></li>
                    <li><a href="/">Bajos</a></li>
                    <li><a href="/">Accesorios</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="contenedor_main">
            <div class="detalleProducto">
                <div class="detalle">
                    <img class="imagenDetalle_producto" src="images/GuitarraFender.jpg" alt="imagen-producto">
                    <div class="prueba">
                        <h3>Nombre Producto</h3>
                        <div class="precio">
                            <p>Decuento</p>
                            <p class="descuento">$250.000</p>
                            <p>Precio</p>
                            <div class="off">
                                <p class="off">$100.000</p>
                                <p class="off_p">40% OFF</p>
                            </div>
                        </div>
                        <div class="comprar">
                            <input type="submit" value="Comprar Ahora">
                            <input type="submit" value="Agregar al Carrito">
                        </div>
                    </div>
                </div>
            </div>
            <div class="especificaciones">
                <div class="descripcion">
                    <p>Descripción</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="fichaTecnica">
                    <p>Ficha Técnica</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="recomendacion">
            <h2 class="recomendacion">Productos que te pueden interesar</h2>
            <div class="lista_produtos">
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
                <div class="producto_recomendado">
                    <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
                    <p class="nombre_producto">Nombre Producto</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor_footer">
            <div class="informacion">
                <h4>Información</h4>
                <p><a href="">Quienes Somos</p></a>
                <p><a href="">Promociones</p></a>
                <p><a href="">Como Comprar</p></a>
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="">correo@correo.com</a>
                <a href="">+54 123123123</a>
                <p><a href="">Av. 9 de Julio Pasaje Chañar 745</a></p>
            </div>
            <div class="redes">
                <h4>Nuestras Redes</h4>
                <div class="iconos">
                    <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>