<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
</head>

<body>
    <header>
        <div class="contenedor_header">
            <div class="logo">
                <img src="images/Sprint-Logo.jpg" alt="logo-página" class="logo_img">
                <div class="nombrePagina">
                    <a href="/"><h4>Eltronic Guitars</h4></a>
                </div>
            </div>
            <div class="search">
                <input type="search">
            </div>
            <div class="cuenta">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                <a href="/productCart">Carrito</a>
            </div>
        </div>
    </header>
    <main>
        <div class="contenedor_main">
            <h2 class="sesion">Crear una Cuenta</h2>
            <form method="POST">
                <label>Nombre Completo</label>
                <input class="input_form" type="text">
                <label>Usuario</label>
                <input class="input_form" type="text">
                <label>Email</label>
                <input class="input_form" type="email">
                <label>Contraseña</label>
                <input class="input_form" type="password">
                <div class="recuerdame">
                    <input type="checkbox">He leído y acepto la Política de Privacidad
                </div>
                <div class="botones">
                    <input class="enviar" type="submit">
                    <input class="cancelar" type="reset">
                </div>
            </form>

            <a href="/register">
                <p class="form">¿Ya tienes una cuenta?</p>
            </a>
        </div>
    </main>
    <footer>
        <div class="contenedor_footer">
            <div class="informacion">
                <h4>Información</h4>
                <p><a href="">Quienes Somos</p></a>
                <p><a href="">Promociones</p></a>
                <p><a href="">Como Comprar</p></a>
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="">correo@correo.com</a>
                <a href="">+54 123123123</a>
                <p><a href="">Av. 9 de Julio Pasaje Chañar 745</a></p>
            </div>
            <div class="redes">
                <h4>Nuestras Redes</h4>
                <div class="iconos">
                    <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>