<footer>
    <div class="contenedor_footer">
        <div class="informacion">
            <h4>Información</h4>
            <p><a href="">Quienes Somos</p></a>
            <p><a href="">Promociones</p></a>
            <p><a href="">Como Comprar</p></a>
        </div>
        <div class="contacto">
            <h4>Contacto</h4>
            <a href="">correo@correo.com</a>
            <a href="">+54 123123123</a>
            <p><a href="">Av. 9 de Julio Pasaje Chañar 745</a></p>
        </div>
        <div class="redes">
            <h4>Nuestras Redes</h4>
            <div class="iconos">
                <a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>