<head>
    <!-- Contenido del encabezado -->
</head>
<link rel="stylesheet" href="/css/index.css">
<% if (typeof cssFile !=='undefined' ) { %>
    <link rel="stylesheet" href="/css/<%= cssFile %>">
<% } %>
<title>
    <%= title %>
</title>
</head>
