<header>
    <div class="contenedor_header">
        <div class="principal_header">
            <div class="logo">
                <img src="images/Sprint-Logo.jpg" alt="logo-página" class="logo_img">
                <div class="nombrePagina">
                    <a href="/"><h4>Eltronic Guitars</h4></a>
                </div>
            </div>
            <div class="search">
                <input class="header_input" type="search">
            </div>
            <div class="cuenta">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                <a href="/carrito">Carrito</a>
            </div>
        </div>
        <nav class="navegacion">
            <ul>
                <li><a href="">Guitarra Acústica</a></li>
                <li><a href="">Guitarra Eléctrica</a></li>
                <li><a href="">Bajos</a></li>
                <li><a href="">Accesorios</a></li>
            </ul>
        </nav>
    </div>
</header>