<div class="recomendacion">
    <h2 class="recomendacion">Productos que te pueden interesar</h2>
    <div class="lista_produtos">
        <div class="producto_recomendado">
            <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
            <p class="nombre_producto">Nombre Producto</p>
        </div>
        <div class="producto_recomendado">
            <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
            <p class="nombre_producto">Nombre Producto</p>
        </div>
        <div class="producto_recomendado">
            <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
            <p class="nombre_producto">Nombre Producto</p>
        </div>
        <div class="producto_recomendado">
            <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
            <p class="nombre_producto">Nombre Producto</p>
        </div>
        <div class="producto_recomendado">
            <img class="imagen_producto_recomendado" src="images/Amplificador.jpg" alt="producto_recomendado">
            <p class="nombre_producto">Nombre Producto</p>
        </div>
    </div>
</div>