<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerUser') %>
    <main>
        <div class="contenedor_main">
            <h2 class="sesion">Iniciar Sesión</h2>
            <% if (typeof error !== 'undefined') { %>
                <div class="error">
                    <p><%= error %></p>
                </div>
            <% } %>
            <form method="POST" action="login">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <div class="recuerdame">
                    <input type="checkbox" name="remember">Recuerdame
                </div>
                <input class="enviar" type="submit" value="Iniciar Sesión">
            </form>
            <div class="contraseña">
                <p>¿Olvidaste tu contraseña?</p>
                <a href="/users/register">
                    <p>Crear Cuenta</p>
                </a>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>